<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	  lang="en">
	<head>
		<meta charset="utf-8">
		<title>管理员页面</title>
		<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/layui-v2.6.4/layui/css/layui.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/layui-v2.6.4/layui/css/modules/code.css}"/>
		<script th:src="@{/layui-v2.6.4/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
		<script>
			layui.use('element', function(){
			  var element = layui.element;
			});
		</script>
	</head>
	<body>
		<div class="layui-layout layui-layout-admin">
		  <div class="layui-header layui-bg-black">
			<div class="layui-logo layui-bg-black">后台管理系统</div>
				<ul class="layui-nav layui-layout-left layui-bg-black">
					<li class="layui-nav-item"><a href="/toFicList" target="if-windows">头部导航 1</a></li>
					<li class="layui-nav-item"><a href="/toFicList" target="if-windows">头部导航 2</a></li>
					<li class="layui-nav-item"><a href="/toFicList" target="if-windows">头部导航 3</a></li>
					<li class="layui-nav-item">
						<a href="/toFicList" target="if-windows">nav groups</a>
						<dl class="layui-nav-child">
							<dd><a href="/toFicList" target="if-windows">menu 11</a></dd>
							<dd><a href="/toFicList" target="if-windows">menu 22</a></dd>
							<dd><a href="/toFicList" target="if-windows">menu 33</a></dd>
						</dl>
					</li>
				</ul>
				<!-- 头部右侧导航栏  -->
				<ul class="layui-nav layui-layout-right layui-bg-black">
					<li class="layui-nav-item">
						<a href="">
							<img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
							<span th:text="${adminName}"></span>
						</a>
						<dl class="layui-nav-child">
							<dd><a href="">set 1</a></dd>
							<dd><a href="">set 2</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item"><a th:href="@{/logOut}">退出</a></li>
				</ul>
			</div>
			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
				  <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree layui-bg-black"  lay-filter="test">
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="/toFicList" target="if-windows">信息管理</a>
							<dl class="layui-nav-child">
								<dd><a href="/toFicList" target="if-windows">图书信息</a></dd>
								<dd><a href="/toUsers" target="if-windows">用户信息</a></dd>
								<dd><a href="/toFicList" target="if-windows">广告信息</a></dd>
								<dd><a href="/toFicList" target="if-windows">评论信息</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="/toFicList" target="if-windows">管理2</a>
							<dl class="layui-nav-child">
								<dd><a href="/toFicList" target="if-windows">list 2-1</a></dd>
								<dd><a href="/toFicList" target="if-windows">list 2-2</a></dd>
								<dd><a href="/toFicList" target="if-windows">超链接</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="/toFicList" target="if-windows">管理3</a>
							<dl class="layui-nav-child">
								<dd><a href="/toFicList" target="if-windows">list 2-1</a></dd>
								<dd><a href="/toFicList" target="if-windows">list 2-2</a></dd>
								<dd><a href="/toFicList" target="if-windows">超链接</a></dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-body">
				<div >
					<iframe class="layui-layer-iframe" name="if-windows" style="height: 83vh;width: 100%;"></iframe>
				</div>
			</div>
		  
			<div class="layui-footer">
				底部
			</div>
		</div>
		 <script>
		 	//JavaScript代码区域
		 	layui.use('element', function(){
		 		var element = layui.element;
		 	  
		 	});
		 </script>
	</body>
</html>
