<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="layui-v2.6.4/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="layui-v2.6.4/layui/css/modules/layer/default/layer.css"/>
    <link rel="stylesheet" type="text/css" href="layui-v2.6.4/layui/css/modules/laydate/default/laydate.css"/>
    <script src="js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="layui-v2.6.4/layui/layui.js"></script>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
</head>
<body>
<div class="layui-fluid layui-row"
     style="padding: 0;height: 120px;background:url(img/top.png);background-size: 100% 100%;">
    <a href="/"><img src="img/logo.png" height="100%"
                     class="layui-col-lg1 layui-col-lg-offset1 layui-col-md1 layui-col-md-offset1 layui-col-xs1 layui-col-xs-offset1 layui-col-sm1 layui-col-sm-offset1"
                     style="width: 220px;height: 60px; margin: 25px;"></a>
    <form class="layui-col-lg5 layui-col-lg-offset1 layui-col-md5 layui-col-md-offset1 layui-col-sm5 layui-col-sm-offset1 layui-col-xs5 layui-col-xs-offset1 layui-form"
          action="" method="">
        <div class="layui-form-item" style="margin-top: 35px;">
            <div class="layui-input-block">
                <input class="layui-input" style="height: 50px;border: 0.125rem solid #1E9FFF;; border-right: 0;"
                       type="text" name="title" required lay-verify="required" autocomplete="off">
            </div>
        </div>
    </form>
    <button class="layui-col-lg1 layui-col-md1 layui-col-sm1 layui-col-xs1 layui-icon layui-btn layui-btn-normal"
            style="margin-top: 35px;height: 50px ;" type="submit">&#xe615;
    </button>
</div>
<div class="layui-fluid" style="padding: 0;">
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <a href="/">首页</a>
        </li>
        <li class="layui-nav-item">
            <a>热门</a>
        </li>
        <li class="layui-nav-item">
            <a>排行</a>
        </li>
        <li class="layui-nav-item">
            <a>分类</a>
        </li>
        <li class="layui-nav-item layui-col-lg-offset7 layui-col-md-offset7 layui-col-sm-offset7 layui-col-xs-offset7">
            <a shiro:guest="">login</a>
            <dl shiro:guest="" class="layui-nav-child">
                <dd><a href="/tologin">管理员登录</a></dd>
                <dd><a href="/usertologin">用户登录</a></dd>
            </dl>
            <a shiro:user="" th:text="${session.user.getUserName()}"></a>
            <dl shiro:user="" class="layui-nav-child">
                <dd><a th:href="@{/toUserHome(id=${session.user.getId()})}">小屋</a></dd>
                <dd><a href="/logOut">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>
</body>
</html>
