<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.fcms.mapper.SysAdminMapper">

    <insert id="addAdmin">
        insert into sys_admin(id, admin_num, admin_pwd, admin_name, admin_phone)
            value (#{id}, #{num}, #{pwd}, #{name}, #{phone})
    </insert>
    <select id="getAllAdmins" resultType="SysAdmin">
        select *
        from sys_admin
    </select>

    <update id="revAdminAuthorById">
        update sys_admin
        set admin_authority = #{author}
        where id = #{id}
    </update>

    <update id="delAdmin">
        update sys_admin
        set isdel = #{isdel}
        where id = #{id}
    </update>
</mapper>
